<ion-header>
  <ion-navbar>
  <ion-buttons end>
      <button ion-button icon-only (click)=openActionSheetCtrl()>
        <ion-icon ios="ios-more" md="md-more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Quit Smoking
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-item no-lines>
	  <ion-icon name="no-smoking" item-left color="danger"></ion-icon>
	  Total Smoke
	  <ion-badge item-right color="danger"><div *ngIf="boxCount > 0">{{boxCount}} box</div>{{smokeCount}} cigarette</ion-badge>
	</ion-item>
	<div class="button-center">
		<button ion-button round (click)="smokeCigar()">I smoked one more...</button>
	</div>
  <ion-fab right bottom mini>
    <button ion-fab color="dark" (click)="openSettingsPage()" ><ion-icon name="settings"></ion-icon></button>
  </ion-fab>
</ion-content>
<ion-footer *ngIf="totalCost>0">
  <ion-toolbar>
    <ion-title>Total Cost = {{totalCost}} &#x20BA; </ion-title>
  </ion-toolbar>
</ion-footer>
